node_modules
.tmp
lib-cov
*.seed
*.pid
npm-debug.log
*#
.DS_STORE
.DS_Store
.idea
#.vscode
.node_history
*.env
!.env-example.env
*.heapsnapshot
build
*.http
tsconfig.tsbuildinfo
*.txt
*.k6
*.csv
*.tldr
*.xlsx
*.pdf
docker
coverage